<h1>Celebrities page</h1>
<a href="/celebrities/create">Add a celebrity to our list</a>
{{#each celebrities}}
    <div class="celebrity-card">
        <h3>{{this.name}}</h3>
        <p><strong>Occupation:</strong> {{this.occupation}}</p>
        <p><strong>Catch phrase:</strong> {{this.catchPhrase}}</p>
    </div>
{{/each}}