<div class="section1">
    <h1 class="landing-title">CELEBRITY CATALOGUE</h1>
    <img id="body-container"
      src="https://www.nicepng.com/png/detail/226-2263920_last-vegas-cast-michael-douglas-robert-de-niro.png"
      alt="actors image">
    <a class="create-celebrity" href="/celebrities/create">Create a new celebrity</a>
  </div>

{{!-- <img class ="landing-img" src="../images/cinema.jpeg"/> --}}

{{!-- <a href="/celebrities/create">Create a new celebrity</a> --}}
