<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!-- moved links to layout.hbs so they could be in navbar and be seen from all pages -->
<img class ="landing-img" src="../images/cinema.jpeg"/>

<a href="/celebrities/create">Create a new celebrity</a>
