 body {

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  background-color: rgb(247,247,247);
  
}

/* a {
  color: #00b7ff;
}  */

#body-container {
  width: 100%;
  height: 130%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
  align-items: center;
  opacity:1;
  
}
/* <----> */
/* general style */

header {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  height: fit-content;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.94);
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #f35 0%,
    rgb(151, 2, 2) 100%
  );
  position: sticky;
  top: 0%;
}

.section1{
  z-index: -1;
  
  
}
/* .landing-img {
  position: relative;
  
  min-height:min-content;

  min-width: min-content;
  max-width: 100%;
  max-height: 100%;
   min-width: 100%; 
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
 
} */
img {
  height: 100px;
  margin-top: 10px;
}

.landing-title {
  /* width: fit-content; */
  color: rgb(0, 0, 0);
  background-color: rgba(192, 192, 192, 0.05);
  text-shadow:1px 1px 1px rgba(255, 0, 0, 0.698), 2px 1px 1px white, 10px 10px 2px rgba(172, 0, 0, 0.286); 
  position: absolute;
  font-size: 5rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:lighter;
  letter-spacing: 20px;
  top: 70%;
  left:18%;

}
.create-celebrity a {
  font-size: 2rem;
  position: relative;
  
 
 
}
.create-celebrity {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  letter-spacing: 10px;
  background-color: rgba(255, 51, 85, 0.828);
  transition: background-color 0.2s ease;
  padding: 3px 10px;
  border-radius: 5px;
  
}

.create-celebrity:hover {
  color:white;
  text-decoration: none;
  background-color: rgb(205, 2, 2);
  text-shadow: 1px 5px 1px rgba(0, 0, 0, 0.392);
  box-shadow: 0px 2px 5px rgba(192, 192, 192, 0.321);
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
header ul li {
  
  text-decoration: none;
  list-style-type: none;
}
header ul li a {
  color: white;
  text-shadow: 2px 2px 3px black;
  font-size: 1.25em;
}
header ul li a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}
button,
.edit-button {
  height: 60px;
  width: 180px;
  border: none;
  background-color: rgba(128, 128, 128, 0.719);
  padding-left: 80px;
  background-position: 20px;
  border-radius: 30px;
}
.add-card button:hover,
.delete-button:hover,
.edit-button:hover {
  transform: scale(1.15);
}
/* h2 {
  text-align: center;
  margin-bottom: 50px;
} */

/* movies/create and celebrities/create style */

.add-card {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin: 50px;
  margin-bottom: 220px;
}
.add-card h2 {
  margin-bottom: 5vh;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #f35;
}

.add-card form {
  width: 80%;
  height: 80vh;
  flex-direction: column;
  background-color: rgba(195, 195, 195, 0.643);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.add-card input, select {
  
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
  }

  .add-card input:focus,
.add-card select:focus {
  outline: none;
  box-shadow: 0px 0px 5px #f35;
}
.add-card button[type="submit"] {
  margin-top: 30px;
  background-color: #f35;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-card button[type="submit"]:hover {
  background-color: #017d28;
}



/* .add-card select {
  appearance: none;
  padding: 0 1em 0 0;
  margin: 2px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  font-size: 0.9em;
} */
.add-card button {
  background-image: url("../images/add-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(128, 128, 128, 0.719);
}
.add-card button:hover {
  background-color: rgba(0, 128, 0, 0.616);
}

/* all celebrities style */
.delete-button {
  
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 50px;
  padding-left: 90px;
  background-color: rgba(128, 128, 128, 0.719);
}
.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.514);
}
.celeb-div {
  display: flex;
  flex-direction: column;
}
.celeb-div p,
.celeb-div form,
.movie-title {
  text-align: center;
}

/* all movies style */
.movie-title:hover {
  letter-spacing: 2px;
}

/* movie detail style */
.movie-card {
  background-color: rgba(150, 127, 185, 0.425);
  padding: 50px;
  border-radius: 20px;
}
.movie-card h4 {
  font-weight: bold;
}
.edit-button {
  text-decoration: none;
  color: black;
  padding: 20px 50px 20px 50px;
  text-align: right;
}
.edit-button:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(150, 127, 185);
}
.movie-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}


.cinematicImg {

width: 800px;
height: 475px;
}
.cinema-cam {
  
  width: 400px;
  height: 400px;

}

/* <---- Footer --->  */

footer {
  background-color: #1b1b1b7c;
  color: white;
  padding: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
 
 
}

.createdBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.brand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  
  
}

.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1300px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.brands img {
  width: 180px;
  height: 120px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s ease;
  padding-left:25px;
  padding-right: 25px;
 
}

.brands img:hover {
  filter: none;
  opacity: 1;
}

.signature {
  font-size: 1rem;
  margin-top: 30px;
  padding-right: 40px;
  
}

/* <--- celebrities.hbs card ---> */

.celebrity-card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 4rem;
  position: relative;
}

/* style for the celebrity name */
.celebrity-card h3 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

/* style for the occupation and catchphrase */
.celebrity-card p {
  font-size: 1.2rem;
  text-align: center;
}

/* style for the catchphrase */
.celebrity-card p:last-of-type {
  margin-bottom: 0;
}

/* style for the celebrity image */
.celebrity-card::before {
  
  content: "";
  background-image: url("/images/cinema-cam.png");
  background-size: 130%;
  background-position: 67% 59%;
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f7f7f7;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* style for the celebrity image (actual image) */
.celebrity-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* <--- movies.hbs ---> */

.all-movies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 20px;
  margin-top: 1190px;
  min-height: calc(100vh - 200px);
  

  

}
.all-movies-container h2 {
  margin-bottom: 30px;
  font-weight: bold;
}
.all-movies-container p {
  
  width: 700px;

}
.movies-description {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
  padding-left: 10px;
  

}
.movies-description:last-child {
  padding-bottom:130px;
  
}

/* Style the movie titles */
.movie-title {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Style the movie descriptions */
.movie-description {
  text-align: center;
  margin-bottom: 2rem;
}


